<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Estoque</title>
</head>
<body style="font-family: Arial; text-align: center;">

    <h1>📦 Sistema de Estoque</h1>

    <br>

    <a href="/produtos">
        <button>📋 Ver Produtos</button>
    </a>

    <br><br>

    <a href="/add">
        <button>➕ Adicionar Produto</button>
    </a>

    <br><br>

    <a href="/movimentacoes">
        <button>📊 Movimentações</button>
    </a>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>

<br><br>

<a href="/fornecedores">
    <button>🏢 Fornecedores</button>
</a>
