<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Estoque</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- PWA -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>

<body>

    <h1>📦 Sistema de Estoque</h1>

    <div class="container">

        <br>

        <a href="{{ url_for('produtos') }}">
            <button>📋 Ver Produtos</button>
        </a>

        <br><br>

        <a href="{{ url_for('add') }}">
            <button>➕ Adicionar Produto</button>
        </a>

        <br><br>

        <a href="{{ url_for('movimentacoes') }}">
            <button>📊 Movimentações</button>
        </a>

        <br><br>

        <a href="{{ url_for('fornecedores') }}">
            <button>🏢 Fornecedores</button>
        </a>

    </div>

</body>

</html>
